
ny_taxi_postgres_data/
# this is where the gcp credentials, ... are stored :
gcp/ 
# this is where the csvs data is stored :
nyc-tlc-data/*_csvs

.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
*.csv
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv
