
ny_taxi_postgres_data/
# this is where the gcp credentials, ... are stored :
gcp/ 
# this is where the csvs data is stored :
nyc-tlc-data/*_csvs
# do not commit secrets from terraform or from the config files
*secrets.tf
*config.cfg

# do not commit parquet files from flows
week_4_analytics_engineering/prefect_flows/data/*
week_4_analytics_engineering/aws/prefect_flows/data/*

# add this since it includes my ARN, ...
week_3_data_warehouse/aws_private

# things from week 5 that are not needed
week_5*/*.csv
week_5*/*.gz
#results from pyspark commands
*part-*
*_SUCCESS*

week_5_batch_processing/code/data/*
week_5_batch_processing/code/*.csv
week_5_batch_processing/code/*.csv.gz

week_5_batch_processing/homework_2023/fhvhv_tripdata_2021-06.csv*
week_5_batch_processing/homework_2023/taxi_zone_lookup.csv

.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
*data/*.csv
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv

# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content
