[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pgcli = "==3.5.0"
pandas = "==1.5.2"
psycopg-binary = "==3.1.8"
sqlalchemy = "==1.4.46"
psycopg2 = "==2.9.5"
ipython-sql = "*"
prefect-aws = "==0.2.4"
pyarrow = "==10.0.1"
prefect = "==2.7.9"
prefect-gcp = {extras = ["bigquery", "cloud_storage", "secret_manager"], version = "==0.2.4"}
pandas-gbq = "==0.19.0"
pandas-redshift = "==2.0.5"

[dev-packages]

[requires]
python_version = "3.10"
